.accomodation {
    color: $primary-color;

    h2 {
        font-size: 36px;
        font-weight: 500;
        margin-bottom: 15px;
    }

    &_box {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 24px 0 ;

        @include smallScreen {
            flex-direction: column;
        }
    }

    &_block2 {
        @include smallScreen {
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;
        }
    }

    &_host {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: end;
        gap: 10px;

        img {
            width: 64px;
            height: 64px;
            border-radius: 50%;
        }
        p {
            font-size: 18px;
            font-weight: 500;
            text-align: right;
            width: 90px;
        }
    }
    

    .tags {
        display: flex;
        flex-direction: row;
        gap: 10px;
        margin-top: 20px;
        margin-bottom: 24px;
    }
    &_collapses {
        display: flex;
        flex-direction: row;
        gap: 76px;

        @include smallScreen {
            flex-direction: column;
            gap: 20px;
        }
    }
}