* {
  font-family: Montserrat, sans-serif;
}

main {
  margin: 0 100px;
  padding: 50px 0;
}
@media screen and (max-width: 767px) {
  main {
    padding: 20px 0;
    margin: 0 20px;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  main {
    margin: 0 50px;
  }
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 45px;
  margin: 0 100px;
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  header {
    padding-top: 30px;
    margin: 0 50px;
  }
}
@media screen and (max-width: 767px) {
  header {
    padding-top: 20px;
    margin: 0 20px;
  }
}
header img {
  height: 68px;
}
@media screen and (max-width: 767px) {
  header img {
    height: 46px;
  }
}
header nav ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 57px;
}
@media screen and (max-width: 767px) {
  header nav ul {
    gap: 26px;
  }
}
header nav ul a {
  font-size: 24px;
  color: #FF6060;
  text-decoration: none;
  text-transform: capitalize;
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  header nav ul a {
    font-size: 18px;
  }
}
@media screen and (max-width: 767px) {
  header nav ul a {
    font-size: 12px;
  }
}
header nav ul .active {
  border-bottom: 1px #FF6060 solid;
}

.banner {
  position: relative;
  border-radius: 25px;
  overflow: hidden;
  height: 223px;
}
@media screen and (max-width: 767px) {
  .banner {
    height: 111px;
  }
}
.banner img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.banner_text {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
}
@media screen and (max-width: 767px) {
  .banner_text {
    justify-content: left;
  }
}
.banner_text h2 {
  font-size: 48px;
  font-weight: 500;
  color: #FFFFFF;
  margin: 0;
  padding: 0;
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .banner_text h2 {
    font-size: 36px;
  }
}
@media screen and (max-width: 767px) {
  .banner_text h2 {
    font-size: 24px;
  }
}

.cards {
  background-color: #F6F6F6;
  padding: 56px 50px 43px 50px;
  border-radius: 25px;
  margin-top: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 60px;
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
}
@media screen and (max-width: 767px) {
  .cards {
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    padding: 0;
  }
}
.cards article {
  border-radius: 10px;
  overflow: hidden;
  height: 340px;
  position: relative;
}
.cards article img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
.cards article .card_text {
  position: absolute;
  bottom: 20px;
  left: 20px;
  width: 40%;
}
.cards article .card_text p {
  text-decoration: none;
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 500;
  margin: 0;
  padding: 0;
}/*# sourceMappingURL=main.css.map */